/* Sidebar */
.sidebar.close .sub-menu {
  display: none; /* Hide submenu when sidebar is closed */
}

.sub-menu {
  display: none;
  background-color: #002c32;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.sub-menu.show {
  display: block; /* Show submenu when open */
}

.sub-menu.hover-only {
  display: none; /* Ensure hidden by default */
}

.sidebar.close .hover-only {
  display: none;
}

.sidebar.close .hoverable:hover .sub-menu {
  display: block; /* Show submenu on hover when sidebar is closed */
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}
